@mixin phone-extra-small {
    @media (max-width: 400px) {
      @content;
    }
  }
  @mixin phone-small {
    @media (max-width: 480px) {
      @content;
    }
  }
  @mixin phone {
    @media (max-width: 550px) {
      @content;
    }
  }
  @mixin phone-land {
    @media (max-width: 650px) {
      @content;
    }
  }
  @mixin tablet-portrait {
    @media (max-width: 760px) {
      @content;
    }
  }
  @mixin tablet {
    @media (max-width: 860px) {
      @content;
    }
  }
  
  @mixin tablet-landscape {
    @media (max-width: 960px) {
      @content;
    }
  }
  @mixin desktop {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @mixin big-desktop {
    @media (max-width: 1800px) {
      @content;
    }
  }
  //SCSS SYNTAX=============================================
  
  @mixin headerArea($height, $image, $bgC, $x: center, $y: bottom) {
    // height: 230px;
    height: $height;
    background: {
      // color: $Header_BackGround_Color;
      color: $bgC;
      image: $image;
      repeat: no-repeat;
      position: $x $y;
    }
  }
  @mixin navArea($bgColor) {
    background-color: $bgColor;
    position: fixed;
    width: 100%;
    z-index: 2;
    padding-top: 15px;
  }
  @mixin borderRadius($size) {
    border-radius: $size;
  }