$Primary_Font: "Open Sans", sans-serif;
$Primary_FontSize: 18px;
$Btn_FontSize: 1.2em;

$offwhite : #EEE8D6;
$White: #fff;
$Dark_Grey: #4c4e4e;
$Red: #921a1a;
$Light_Grey: #cfcccc;
$Light_Yello_Green: #b2ad7f;

$Header_BackGround_Color: #0c3443;
$Content_Background_Color: #f3f3f3;
$Page_Transparent_Color: rgba(0, 0, 0, 0.65);
// $Content_Background_Color: #4c4e4e;

$Btn_Normal: rgba(0, 0, 0, 0.3);
$Btn_Normal_H: rgba(8, 27, 115, 0.5);
$Btn_Add_Color: #053e55;
$Btn_Add_Color_H: #007eff;
$Btn_Color_H: #ffff54;

$Btn_Nav_Color: rgba(0, 0, 0, 0.3);
$Btn_Nav_H: #0c3443;
$Link_Color_A: #007eff;

$Page_Width: 1250px;