.product-page {
    background: $White;
    min-height: 400px;
    
    .content{
      flex: 1;
      margin-right: auto;
       #img-container{
         margin: 10px 10px;
        @include phone-land { margin-left: 20%;}
        @include phone-small { margin-left: 14%; }
         img{
          height: 280px;
          @include tablet-landscape {
            height: 230px;
          }
          @include tablet-portrait {
            height: 200px;
          }
          @include phone-land {
            height: 250px;
          }
         }

      }

    }

  aside{
    // padding-left: 10px;
    color: $Dark_Grey;
    &.sidebar{
      border: 1px solid #000000;
      background: $Content_Background_Color;
      /* flex: 1; */
      padding-left: 40px;
      padding-right: 40px;
      @include tablet-landscape {
        padding-left: 20px;
        padding-right: 10px;
      }
      @include tablet-portrait {
        padding-left: 10px;
      }
    }
    .prod-detail-box {   
          margin: 20px;
          #notAvailable{
              color: #a2a3a3;
              font-size: 3rem;
            }
          }
  }


}
  
 
  
  main.product-page .wrapper {
    margin: auto;
    max-width: 75rem;
  }
 
  
  
  main.product-page fieldset {
    margin-top: 15px;
  
    border: 0px;
  
    @include phone-small {
      border: 0px;
    }
        .notAvailable{
          display: none;
        }

        input[type="submit"].isOnSale{
          color: $White;
          padding: 10px 20px;
          border: 0px;
          background: linear-gradient(
            to bottom,
            $Btn_Add_Color 0%,
            $Btn_Add_Color_H 100%
          );
          &:hover{
            color: $Btn_Color_H;
          }
        }
  }
  
 